.card {
  padding: 20px;
  width: 100%;
  min-height: 180px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(96, 131, 96);

  &__desc {
    width: 65%;
  }

  &__info {
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__title {
    padding-bottom: 20px;
    font-size: 1.5em;
  }

  &__text_bold {
    font-weight: 700;
  }

  &__button {
    padding-top: 40px;
  }
}
