<article class="card">
  <div class="card__col card__desc">
    <h3 class="card__title card__text_bold">{{ card?.title }}</h3>
    <p>{{ card?.description }}</p>
  </div>
  <div class="card__col card__info">
    <div class="card__authors" *ngIf="card?.authors">
      <span class="card__text_bold">Authors</span>: {{ card?.authors!.join(', ') }}
    </div>
    <div class="card__duration" *ngIf="card?.duration">
      <span class="card__text_bold">Duration</span>: {{ formattedDuration }}
    </div>
    <div class="card__created" *ngIf="card?.creationDate">
      <span class="card__text_bold">Created</span>: {{ card?.creationDate | date: 'dd.MM.yyyy'}}
    </div>
    <ng-content></ng-content>
  </div>
</article>
